/* #Fun Facts
================================================================================= */
.fun-facts{
    background:#292929;
    padding:50px;
    margin-top:20px;
    color:#fff;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;}
.fun-facts i{color:#fac600; margin-bottom:15px; margin-right:0;}
.fun-facts i:hover{color:#fac600;}
.fun-facts p{font-weight:bold;}
p.number{font-style:italic;}
