.hero-1 {
    color: white;
    background-image: url('../img/bg_masterhead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-form {
    background-color: rgba(193, 212, 104, 0.274);
    margin-top: 10vh;
    height: 100%;
}

.hero-2 {
    color: white;
    background-image: url('../img/bg_masterhead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
