.listing-vip-1{
    background-color: #df453a;
}
.listing-vip-2{
    background-color: #5de65d;
}
.listing-vip-3{
    background-color: #2424d8;
    color:white;
}
.listing-vip-4{
    background-color: rgb(230, 230, 57);
}
.flag-xl{
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flag-xxl{
    font-size: 6em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.listing h4 {
    color: black;
}
.price {
    color: green;
}
.listing-type{
    color: #8EC73F;
    margin-bottom: 5px;
}
